service: crud-api-serverless

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    ITEMS_TABLE: ${self:service}-${self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - Fn::GetAtt: [ ItemsTable, Arn ]

custom:
  stages:
    - dev
    - staging
    - prod

functions:
  createItem:
    handler: handlers/create.handler
    events:
      - http:
          path: items
          method: post
          cors: true

  getItems:
    handler: handlers/read.getAllItems
    events:
      - http:
          path: items
          method: get
          cors: true

  getItem:
    handler: handlers/read.getItem
    events:
      - http:
          path: items/{id}
          method: get
          cors: true

  updateItem:
    handler: handlers/update.handler
    events:
      - http:
          path: items/{id}
          method: put
          cors: true

  deleteItem:
    handler: handlers/delete.handler
    events:
      - http:
          path: items/{id}
          method: delete
          cors: true

resources:
  Resources:
    ItemsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ITEMS_TABLE}
        AttributeDefinitions:
          - AttributeName: itemId
            AttributeType: S
        KeySchema:
          - AttributeName: itemId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-offline
